@use '../base/variables' as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    background-color: $bg-light-gray;
    color: $text-color;
    font-family: $ff-lexend;
    font-weight: 400;
    font-size: rem(15px);
}

main {
    margin-bottom: rem(60px);
}