@use '../base/variables'as *;


@media (min-width: 1440px) {
    body {
        display: flex;
        align-items: center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .card {
        margin: 0;
        padding: em(48px, 15px);

        &:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: em(10px, 15px);
            border-bottom-left-radius: em(10px, 15px);
        }

        &:last-child {
            border-bottom-left-radius: 0;
            border-top-right-radius: em(10px, 15px);
            border-bottom-right-radius: em(10px, 15px);
        }
    }

    .button {
        margin-top: em(85px, 15px);
    }
}